body {
margin: auto;
text-align: center; 
background-color:black;
}

li {
color:white;
}

label {
color:white;
font-size:large;
font-weight: 100;
}

a {
color:white;
}

h3{
color:white;
font-weight: 200;
}

h4 {
color:white;
font-weight: 200;
}

.h6 {
color: black;
font-weight: 100;
}
.row-panel {
background-color:rgb(56, 55, 55);
}

form
{
display: inline-block;
margin: auto;
text-align: center;
width: 50%;
}

img {
max-width:100%;
height:auto;
}

.profile-panel {
background-color: rgb(28, 78, 18);
}

#summary {

background-color:white;
border-radius: 5px;
}


.white-panel {
position: absolute;
background: black;
box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
padding: 10px;
}
.center {
margin: auto;
width: 50%;
padding: 10px;
text-align:center;
}

.navbar {
background:black;
}
.nav-link {
color: black;
cursor: pointer;
font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
margin-right: 1em !important;
}

.nav-link:hover {
color: #000;
}
.navbar-collapse {
justify-content: flex-end;
}

.row {
background-color: black;
}


.profile {
padding: 20px 20px 20px 20px;
background:black;
}

.profile-buttons {
text-align: center;
margin-top: 10px;
}

.map {
width: 100%;
height: 400px;
}

.legend{
color: white;
}

.timeline {
border-left: 10px solid #0c4723;
border-bottom-right-radius: 4px;
border-top-right-radius: 4px;
background: rgb(6, 102, 36);
margin: 0 auto;
letter-spacing: 0.2px;
position: relative;
line-height: 1.4em;
font-size: 1.03em;
padding: 50px;
list-style: none;
text-align: left;
max-width: 70%;
}

@media (max-width: 767px) {
.timeline {
	max-width: 98%;
	padding: 25px;
}
}

.timeline h1 {
font-weight: 600;
font-size: 1.4em;
}

.timeline h2,
.timeline h3 {
font-weight: 800;
font-size: 1rem;
margin-bottom: 10px;
}

.timeline .event {
border-bottom: 1px dashed #e2ffe8;
padding-bottom: 25px;
margin-bottom: 25px;
position: relative;
}

@media (max-width: 767px) {
.timeline .event {
	padding-top: 30px;
}
}

.jumbotron {
background-color:black;
color:white;
}



.form-control-borderless {
border: none;
}

.form-control-borderless:hover, .form-control-borderless:active, .form-control-borderless:focus {
border: none;
outline: none;
box-shadow: none;
}

.flip {
height: 500x;
width: 800%;
margin: 0 auto;
}
.flip img {
width: 800px;
height: auto;
}
.flip .back {
background:white;
color: black;
font-size: 24px;
text-align: center;

}


.navbar-inverse {
	background: #284738;
}

.navbar-inverse .navbar-nav>li>a {
	color: #e0fff0;
}

.navbar-inverse .navbar-brand {
	color: #e0fff0;
}

.flex {
display: flex;
flex-wrap: wrap;
}


.column {
float: left;
width: 50%;
padding: 10px;
}

.row:after {
content: "";
display: table;
clear: both;
}

