{% extends "vastapp/base.html" %}


{% block heading %}
<h3 class="display-4">Recent Captures</h3>
<h3>Location: Frick Park, Pittsburgh PA</h3>
<img src="https://cdn-assets.alltrails.com/static-map/production/area/10120419/parks-us-pennsylvania-frick-park-10120419-20210804220732000000000-763x240-1.png">
<hr>
{% endblock %}


{% block body %}

<div class="row">
    <div class="col-sm-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Cats: 5</h5>
          <img src="https://miro.medium.com/max/1024/1*L55OueLNLo1qPiIjbZhlhg.jpeg" width=70% height=70%>

          <p class="card-text">Time: 2021-11-10 09:30AM</p>
          <p class="card-text">Location: Frick Park West</p>
          <a href="#" class="btn btn-primary">View</a>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Dog:1, Bird:1</h5>
          <img src="https://images.squarespace-cdn.com/content/v1/52c62b4be4b0ca96fb3cfcba/1551800809893-SWPT67OMVB0G8FOGZE4U/result_23.jpg" width=70% height=70%>
          <p class="card-text">Time: 2021-11-09 2:30PM</p>
          <p class="card-text">Location: Frick Park South</p>
          <a href="#" class="btn btn-primary">View</a>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Adipose: 3</h5>
          <img src="https://blog.roboflow.com/content/images/2020/08/image-57.png" width=70% height=70%>
          <p class="card-text">Time: 2021-11-09 1:45PM</p>
          <p class="card-text">Location: Frick Park East</p>
          <a href="#" class="btn btn-primary">View</a>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Wolves: 2</h5>
          <img src="https://images.squarespace-cdn.com/content/v1/52c62b4be4b0ca96fb3cfcba/1551800808966-70BYZ6SLYAYBON6S0E05/result_27.jpg" width=70% height=70%>
          <p class="card-text">Time: 2021-11-09 11:10AM</p>
          <p class="card-text">Location: Frick Park East</p>
          <a href="#" class="btn btn-primary">View</a>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Cows: 5</h5>
          <img src="https://www.researchgate.net/profile/William-Andrew/publication/322650835/figure/fig2/AS:775590336536576@1561926554972/Species-Detection-and-Localisation-Examples-of-species-detection-and-localisation-for.jpg" width=70% height=70%>
          <p class="card-text">Time: 2021-11-09 7:10AM</p>
          <p class="card-text">Location: Frick Park East</p>
          <a href="#" class="btn btn-primary">View</a>
        </div>
      </div>
    </div>

  </div>


{% endblock %}
