{% extends 'vastapp/base.html' %}  
{% load static %}

      
{% block heading %}

<h1 class="display-1">Recent Captures</h1>

{% endblock %}


{% block body %} 


<div class="row">
   {% for cap in captures reversed %}

    <div class="col-sm-4">
        <div class="card">
        <div class="card-body">
            <h3 class="card-title">Captured at {{cap.timestamp}}</h3>
            <p class="card-text">Inference Time: {{cap.inference_time}}</p>


            <img src="{{cap.image.url}}" width=600 height=500></img>

            <h5 class="card-title">{{cap.pred_1}}: {{cap.conf_1}}%</h5>

            {% if cap.pred_2 %}
                <h5 class="card-title">{{cap.pred_2}}: {{cap.conf_2}}%</h5>
            {% endif %}

            {% if cap.pred_3 %}
                <h5 class="card-title">{{cap.pred_3}}: {{cap.conf_3}}%</h5>
            {% endif %}

            <a href="#" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">View details</a>


        </div>
        </div>
    </div>

    {% endfor %}
</div>


    
  
{% endblock body %}  